/*===>>> default css <<<===*/
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.tc{
    text-align: center;
}
.tr{
    text-align: right;
}
.tl{
    text-align: left;
}
img{
    max-width: 100%;
}

/*===>>> default css end <<<===*/

/*===>>> header section start <<<===*/
header{
    background-color: rgba(0, 0, 0, 0.616);
    width: 100%;
    height: 55px;
    position: fixed;
    width: 100%;
    z-index: 99;
}
header .header_logo {
	width: 20%;
}
header .header_logo a{
    line-height: 40px;
}
header .header_logo img{}
header .header_menu{
    width: 70%;
}
header .header_menu ul{
    list-style: none;
    margin-bottom: 0;
}
header .header_menu ul li{
    display: inline-block;
}
header .header_menu ul li a {
	display: inline-block;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 15px;
	font-size: 15px;
	font-weight: 500;
	line-height: 50px;
    position: relative;
    transition: all ease .4s;
}
header .header_menu ul li:nth-child(1) a{
    color: #be882b;
}
header .header_menu ul li a:hover{
    color: #be882b;
}
header .header_menu ul li a::before{
    content: "";
    height: 2px;
    width: 0;    
    position: absolute;
    top: 95%;
    right: 50%;
    background-color: #be882b;
    opacity: 0;
    visibility: hidden;
    transition: all ease .4s;
}
header .header_menu ul li a::after{
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    top: 95%;
    left: 50%;
    background-color: #be882b;
    opacity: 0;
    visibility: hidden;
    transition: all ease .4s;
}
header .header_menu ul li a:hover::before{
    width: 50%;
    opacity: 1;
    visibility: visible;
}
header .header_menu ul li a:hover::after{
    width: 50%;
    opacity: 1;
    visibility: visible;
}
header .header_menu ul li{
    position: relative;
}
header .header_menu ul li ul{
    position: absolute;
    top: 90%;
    left: 0;
    width: 220px;
    background-color: azure;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: center center;
    transition: all ease .4s;
}
header .header_menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
header .header_menu ul li ul li {
	display: block;
	margin-left: -40px;
}
header .header_menu ul li ul li a{
    display: block;
    color: black;
    text-align: center;
    transition: all ease .4s;
}
header .header_menu ul li ul li a:nth-child(1){
    color: black;
}
header .header_menu ul li ul li a:hover{
    color: #be882b;
    background-color: #c2c0bc;
}
header .header_menu ul li ul li a::before{
    content: "";
    width: 0;
    height: 0;
}
header .header_menu ul li ul li a::after{
    content: "";
    width: 0;
    height: 0;
}
/*===>>> header section end <<<=== */

/*===>>> banner section start <<<=== */
.banner{
    background-image: url(../Assignment-19/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 120px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}
.banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.692);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.banner h1 {
	color: white;
	font-size: 75px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 25px;
}
.banner h3 {
	color: white;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 700;
    position: relative;
}
.banner h3::before{
    content: "";
    height: 2px;
    width: 50px;
    position: absolute;
    top: 53%;
    left: 285px;
    background-color: white;
}
.banner h3::after{
    content: "";
    height: 2px;
    width: 50px;
    position: absolute;
    top: 53%;
    right: 285px;
    background-color: white;
}
.banner a {
	text-decoration: none;
	color: white;
	background-color: #c69453;
	padding: 10px 25px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
	border-radius: 21px;
	margin-top: 30px;
    border: 2px solid transparent;
    overflow: hidden;
    transition: all ease .4s;
}
.banner a:hover{
    border: 2px solid #be882b;
    color: #c69453;
    background-color: white;
}
/*===>>> banner section end <<<===*/

/*===>>> service section start <<<===*/
.service{
    background-color: #eeece8;
    padding: 70px 0;
}
.service .service_item {
	width: 24%;
	text-align: center;
	background-color: white;
	padding: 25px 3px;
    margin-left: 14px;
    transition: all ease .4s;
}
.service .service_item:nth-child(1){
    margin-left: 0;
}
.service .service_item .service_logo {
	margin-bottom: 12px;
}
.service .service_item .service_logo img{
    perspective: 1500;
    transition: all ease .6s;
}
.service .service_item h3 {
	text-transform: uppercase;
	font-size: 23px;
	font-weight: 600;
}
.service .service_item p {
	font-size: 15px;
	margin-top: 15px;
	color: #5f5f5f;
    margin-bottom: 20px;
}
.service .service_item a {
	text-decoration: none;
	color: white;
	background-color: #c69453;
	display: inline-block;
	padding: 5px 15px;
	border-radius: 5px;
	text-transform: capitalize;
	font-weight: 500;
    transition: all ease .4s;
}
.service .service_item:hover .service_logo img{
    transform: rotateY(360deg);
}
.service .service_item:hover{
    background-color: #dbd9d4;
}
.service .service_item:hover a{
    background-color: white;
    color: #be882b;
}
.service .service_item a:hover{
    background-color: black;
    color: white;
    transform: translateY(5px);
}
/*===>>> service section end <<<===*/

/*===>>> about section start <<<=== */
.about{
    padding: 50px 0;
    background-color: #eeece8;
}
.about .video{
    width: 40%;
}
.about .about_text{
    width: 55%;
}
.about .about_text h1 {
	font-size: 45px;
	font-weight: 700;
	text-transform: capitalize;
	color: black;
	margin-top: 0px;
}
.about .about_text h1 span{
    color: #be882b;
}
.about .about_text details{
    margin-top: 15px;
}
.about .about_text a{
    color: white;
    display: inline-block;
    background-color: black;
    padding: 7px 15px;
    margin-top: 10px;
    text-decoration: none;
    transition: all ease .4s;
}
.about .about_text a:hover{
    background-color: #be882b;
    color: white;
}
/*===>>> about section end <<<===*/

/*===>>> contact section start <<<===*/
.contact {
	background-image: url(../Assignment-19/contact.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
	padding: 110px 0 207px 0;
}
.contact .contact_form {
	width: 60%;
}
.contact .contact_form h2 {
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
    margin-bottom: 15px;
}
.contact .contact_form p{
    margin-bottom: 15px;
}
.form_item {
	width: 80%;
	padding: 5px 13px;
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 15px;
    box-shadow: 0 0 20px #eeece8;
    border: 1px solid transparent;
    border-radius: 5px;
}
.m-l{
    margin-left: 5px;
    outline: none;
}
input:focus-visible{
    outline: none;
}
.form_item:focus{
    border: 1px solid black;
}
input[type=submit]{
    display: inline-block;
    padding: 7px 15px;
    background-color: #be882b;
    color: white;
    border: none;
    margin-left: 5px;
    text-transform: capitalize;
    font-weight: 600;
}
/*===>>> contact section start <<<===*/

/*===>>> footer section start <<<===*/
.footer{
    background-color: #6d6d6d;
    height: 60px;
}
.footer .footer_text{
    width: 60%;
}
.footer .footer_text span{
    line-height: 60px;
    color: white;
}
.footer .footer_icon{
    width: 40%;
}
.footer .footer_icon a{
    display: inline-block;
    padding: 0 15px;
    color: white;
    line-height: 60px;
}
/*===>>> footer section end <<<===*/
